<div class="post-partial">
  <h3 class="post-heading"><%= post.title %></h3>
    <p class="post-content"><%= post.body %></p>
    <div class="engagement-info">
     <p>
      Comments: <%= post.comments_counter%>
      Likes: <%= post.likes_counter%>
     </p>
    </div>
</div>
