* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  text-decoration: none;
}

.all-users-container {
  padding: 0.5rem;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  margin: auto;
  width: 80%;
  background-color: #f5f5f5;
  border: 1px solid #3b3535;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.user-photo-container {
  display: inline;
  padding: 0.5rem;
  border: 5px solid #3b3535;
}

.user-details-container {
  display: inline;
  padding: 0.5rem;
  border: 5px solid #3b3535;
}

.user-details-container span {
  float: right;
}

.user-bio-container {
  margin: auto;
  width: 79%;
  border: 5px solid #3b3535;
  padding: 0.5rem;
}

.user-posts-container {
  padding: 0.5rem;
}

.partial-post {
  margin: 0.5rem auto;
  width: 80%;
  border: 5px solid #3b3535;
  padding: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  color: #000;
}

.partial-post h3 {
  margin: 0;
  padding: 0.2rem;
  text-decoration: none;
}

.engagement-info {
  float: right;
}

.user-posts-page-container {
  align-items: center;
}

.post-body-container {
  margin: 0 auto;
  width: 80%;
  border: 5px solid #3b3535;
  padding: 0.5rem;
}

.post-intro-container {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.post-intro-container p {
  float: right;
}

.pagination-button,
.post-btn {
  padding: 0.5rem;
  margin-left: 42%;
  margin-top: 2rem;
  border: 5px solid #3b3535;
  text-decoration: none;
}

.comment-section-container {
  margin: 0 auto;
  width: 80%;
  border: 5px solid #3b3535;
  padding: 0.5rem;
}
